.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
}
.box1 {
  color: #334155;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  width: 30%;
  border-right: none;
  margin-left: 80px;
}
.box2 {
  color: #334155;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  width: 30%;
  border-right: none;
  margin-left: 110px;
}
.box3 {
  color: #334155;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  width: 30%;
  border-right: none;
  margin-left: 280px;
}
.cartli {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.item {
  margin-left: 30px;
  margin-right: 220px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  letter-spacing: 0.2px;

  /* Light / blue-gray / 600 */

  color: #475569;
}
.quan {
  margin-left: 50px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  letter-spacing: 0.2px;

  /* Light / blue-gray / 600 */

  color: #475569;
}
.price {
  margin-left: 40px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  letter-spacing: 0.2px;

  /* Light / blue-gray / 600 */

  color: #475569;
}
.gtotal {
  display: flex;
  justify-content: space-between;

  width: 600px;
}
.porder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;

  background: #f7931e;
  color: #ffffff;
  border-width: 0px;
  border-radius: 8px;
  margin-left: 32px;
}
.total {
  margin-left: 27px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 133% */

  text-align: right;

  /* Basic / 900 */

  color: #3e4c59;
}
.cart-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order {
  margin-left: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  /* Basic / 900 */

  color: #3e4c59;
}
.ul-all {
  background-color: #f9fbfe;
  width: 70%;
  padding: 40px;
  margin-top: 120px;
  margin-bottom: 40px;
}
.emp-head {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */

  text-align: center;

  /* Light / blue-gray / 800 */

  color: #1e293b;
}
.emp-para {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;

  /* Light / blue-gray / 500 */

  color: #64748b;
}
.emp-button {
  background: #f7931e;
  border-radius: 8px;
  border-width: 0px;
  color: #ffffff;
  padding: 10px;
}
.emp-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.emp-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.emp-img {
  width: 50%;
}
.plc-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.plc-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.plc-img {
  width: 150px;
  height: 100px;
}
.plc-head {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  text-align: center;

  /* Light / blue-gray / 800 */

  color: #1e293b;
}
.plc-para {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;

  /* Light / blue-gray / 500 */

  color: #64748b;
}
.plc-button {
  background: #f7931e;
  border-radius: 4px;
  border-width: 0px;
  padding: 10px;
  color: #ffffff;
}
