.not-heading {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */

  text-align: center;

  /* Light / blue-gray / 800 */

  color: #1e293b;
}
.not-para {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */

  text-align: center;

  /* Light / blue-gray / 600 */

  color: #475569;
}
.not-img {
  width: 30%;
}
.not-button {
  border-width: 0px;
  background: #f7931e;
  border-radius: 12px;
  color: #ffffff;
  padding: 10px;
}
.not-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
